.navBar {
  width: 97.2%;
  height: 4em;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
}

ul {
  test-align: center;
  list-style: none;
  width: 100%;
}

h1 {
  margin: 0;
  padding-top: 1%;
}