.search-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem; 
}

.search-header {

}

.search-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem; 
  justify-content: space-around;
}

select {
  width: 200px;
  height: 3em;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  background-color: rgba(255,255,255);
  filter: brightness(95%);
}

button {
  width: 200px;
  height: 3em;
  border-radius: 5px;
  border: none; 
  margin-top: 10px;
  background-color: rgba(255,255,255);
  filter: brightness(95%);
}

input {
  width: 99%;
  height: 3em;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  background-color: rgba(255,255,255);
  filter: brightness(95%);
}


/*W: 337px
H: 45px
Corner Radius: 10px
Fill: Solid
#FFFFFF*/