.search-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem; 
}

.search-header {

}

.search-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem; 
  justify-content: space-around;
}

select {
  width: 200px;
  height: 3em;
  border-radius: 10px;
  border: none;
  padding-top: 10px;
}

button {
  width: 200px;
  height: 3em;
  border-radius: 5px;
  border: none; 
}

input {
  width: 95%;
  height: 3em;
  border-radius: 5px;
  border: none;
}
/*W: 337px
H: 45px
Corner Radius: 10px
Fill: Solid
#FFFFFF*/