.moreInfo {
  width: 10%;
  position: center;
}

.Card {
  width: 80rem;
  display: flex;
  justify-content: space-around;
  margin: 2rem 1rem 0 1rem;
  cursor: pointer;
  filter: brightness(95%);
  opacity: 0.95;
  height: 18rem;
  box-shadow: 0 0 80px #000000;
  border-radius: 8px;
  background-color: rgba(255,255,255);
  font-family: 'Open Sans', sans-serif;
  padding-top: 0.5em;
  color: rgba(68,68,68);
}

h2 {
  font-size: 0.5em;
}

a {
  font-size: 0.5em;
}

.iframe-section {
  height: 250px;
  width: 600px;
}

.iframe-section {
  display: flex;
  flex-direction: column;
}

.inlineFrameExample {
  background-color: rgba(255,255,255);
}

.submit-message {
  height: 9em;
}

.text-container {
  text-align: left;
  height: 100%;
  line-height: .5;
  padding-top: 0.4em;
}

